@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
.Home_container {
  background-color: #1b163a;
  height: calc(100vh - 60px);
}

.home_heading {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.title {
  color: cyan;
  text-transform: capitalize;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 2%;
  margin-bottom: 3%;
}
.home_title_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home_about {
  color: aliceblue;
  text-transform: capitalize;
  margin: -1%;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_in {
  display: flex;
  color: rgb(0, 217, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download {
  margin-top: -5%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 3%;
}

.CV {
  width: 120px;
  height: 30px;
  background-color: cyan;
  border-radius: 20px;
  padding: 1px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
}
.CV:hover {
  cursor: pointer;
  background-color: rgb(9, 255, 0);
  color: rgb(0, 0, 0);
}
/* text transformig */

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.text {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin: 0px 2%;
}

.text:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.home_link {
  margin-top: 3%;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
  font-family: cursive;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* heading  */

@media screen and (max-width: 500px) {
  .home_title_box div {
    width: 100vw;
    padding: 0px 5%;
  }

  .home_link {
    margin-top: 10%;
  }
  .Home_about {
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
